body{
	width: 100%;
	margin: 0;
	padding: 0;
}
.text-block{
	width: 100%;
	min-height: 1px;
	background-color: #f39c12;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}
.text-block h1{
	margin: 0;
	font-weight: bolder;	
}
.text-block h1 small{
	color: #fff;
}
/* Text */
	.text-center {
		text-align: center !important;
	}
	.text-left {
		text-align: left !important;
	}
	.text-right {
		text-align: right !important;
	}
/* /.Text */
/* Field */
	.form-control {
	    width: 98% !important;
	    float: left!important;
	}
/* /.Field */
.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px !important;
}


body{
	width: 100%;
	margin: 0;
	padding: 0;
}
.el-bg{
	width: 100%;
	min-height: 200px;	
	-webkit-background-size: cover;
	background-size: cover;
}
.img-bg{
	width: 100%;
	height: auto;
	-webkit-background-size: cover;
	background-size: cover;
}
.overlay{
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.00000001);
}
.btn-register{
	background-color: transparent;
	color: #fff;
	border: 2px solid #F39C12;
	font-size: 22px;
	font-weight: bolder;
	font-stretch: ultra-condensed;
	letter-spacing: 3px;
	text-align: center;
	padding-left : 35px;
	padding-right : 35px;
	padding-top: 5px;
	padding-bottom: 4px;
	border-radius: 5px;
	transition: 0.3s;
}
.btn-faq{
	background-color: transparent;
	color: #fff;
	border: none;
	margin-top: 10px;
	font-size: 18px;
	font-weight: bolder;
	font-stretch: ultra-condensed;
	text-align: center;
	border-radius: 5px;
	transition: 0.3s;
}
.btn-faq:hover{
	background-color: #fff;
	color: #F39C12;
	transition: 0.5s
}
.btn-faq:focus{
	outline: none;
}
.btn-register:hover{
	background-color: #F39C12;
	border: 2px solid #FFF;
	transition: 0.5s;
}
.btn-register:focus{
	outline: none;
}
.btn-position{
	margin-top: 370px;
}
.font-styled{
	font-weight: bolder;
	font-stretch: condensed;
	letter-spacing: 3px;
}
.reg-el{
	width: 100%;
	min-height: 800px;
	border-top: 6px solid #F39C12;
	border-left: 8px solid #F39C12;
}
hr{
	border: 1px solid #F39C12;
}
.red{
	color : #F00;
}
.sub-title{
	width: 100%;
	height: 30px;
	background-color: #F39C12;
	color: white;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-weight: bolder;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #F39C12;
}
a, a:focus{
	color : #F39C12;
	text-decoration: none;
}
::-webkit-scrollbar{
	width: 3px;
	background-color: transparent;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	width: inherit;
	background-color: #F39C12;
	border-radius: 50px;
}
@media screen and (max-width: 1024px){
	.btn-position{
		margin-top: 270px;
	}
}
@media screen and (min-width: 1441px){
	.btn-position{
		margin-top: 380px;
	}
}
@media screen and (min-width: 1600px){
	.btn-position{
		margin-top: 450px;
	}
}